@import url('https://fonts.googleapis.com/css?family=Titillium+Web:600,900');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f5f5f5;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
}
.github {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
}
.github svg {
    width: 60px;
    height: 60px;
}
.main{
    width: 100%;
    height: auto;
}
h1{
    margin-bottom: 3px;
    margin-top: 3%;
    font-weight: 900;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: #22d6bb;
    padding: 0 13%;
}
p{
    font-weight: 600;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 0 13%;
}
.links{
    width: 100;
    height: auto;
    margin-bottom: 10px;
}
.links ul{
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
p[data-js="support"]{
    font-size: .9em;
    color: #999;
}
.lamp{
    width: 5px;
    height: 40%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 10%;
    background-color: #4c4c4c;
}
.lamp:before{
    content: "";
    width: 15px;
    height: 20px;
    position: absolute;
    z-index: 7;
    bottom: 0;
    left: -5px;
    background-color: #98df5c;
}
.lamp:after{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 6;
    bottom: -25px;
    left: -12px;
    background-color: #fed980;
    border: 2px solid #cfcfcf;
    border-radius: 50%;
}
.lamp2{
    width: 5px;
    height: 20%;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 10%;
    background-color: #4c4c4c;
}
.lamp2:before{
    content: "";
    width: 15px;
    height: 20px;
    position: absolute;
    z-index: 7;
    bottom: 0;
    left: -5px;
    background-color: #e91e63;
}
.lamp2:after{
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 6;
    bottom: -25px;
    left: -12px;
    background-color: #fed980;
    border: 2px solid #cfcfcf;
    border-radius: 50%;
}
.main2{
    width: 100%;
    height: auto;
}
.container{
    width: 90%;
    height: 210px;
    overflow: hidden;
    position: relative;
    margin: 0 5%;
    box-sizing: border-box;
}
.table{
    width: 100%;
    height: 10px;
    position: absolute;
    z-index: 7;
    bottom: 0;
    left: 0;
    background-color: #d1a76a;
}
.imac{
    width: 52%;
    height: 90px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 26%);
    box-sizing: border-box;
    background-color: #93d8f7;
    border: 5px solid #71787d;
    border-bottom: 0px;
    border-radius: 10px 10px 0 0;
}
.imac-down{
    width: 52%;
    height: 20px;
    position: absolute;
    z-index: 5;
    left: calc(50% - 26%);
    bottom: 30px;
    background-color: #e5e5e5;
    border-radius: 0 0 10px 10px;
}
.imac-down:after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 6;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    background-color: #e3e3e3;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #828485;
}
.imac-base{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 5;
    bottom: 10px;
    left: calc(50% - 10px);
    background-color: #b5b6b8;
}
.imac-base:after{
    content: "";
    width: 40px;
    height: 5px;
    position: absolute;
    z-index: 5;
    bottom: 0px;
    left: calc(50% - 20px);
    background-color: #d1d2d4;
}
.cap{
    width: 52%;
    height: 100px;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 26%);
    z-index: 4;
    background-color: #f5f5f5;
}
.samara{
    width: 52%;
    height: 100px;
    position: absolute;
    z-index: 3;
    left: calc(50% - 26%);
    bottom: -58px;
}
.face{
    width: 50px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: calc(50% - 25px);
    background-color: #e4fdf9;
}
.face:before{
    content: "";
    width: 40px;
    height: 100px;
    position: absolute;
    z-index: 2;
    top: -2px;
    left: -10px;
    border-radius: 50px 0 0 0 / 70% 0 0 0;
    background-color: #000000;
    transform: rotate(0deg);
}
.face:after{
    content: "";
    width: 20px;
    height: 100px;
    position: absolute;
    z-index: 2;
    top: -3px;
    right: -6px;
    border-radius: 0 50px 0 0 / 0 70%0 0;
    background-color: #000000;
    transform: rotate(-8deg);
}
.body{
    width: 80px;
    height: 100px;
    position: absolute;
    z-index: 2;
    bottom: -60px;
    left: calc(50% - 40px);
    border-radius: 50px 50px 0 0;
    background: -webkit-linear-gradient(top, #6d7560 0% , #788d7c 100%);
}
.eye{
    width: 20px;
    height: 10px;
    position: absolute;
    z-index: 1;
    top: 32px;
    right: 9px;
    background-color: #881d1d;
    border-radius: 50%;
}
.shelf{
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 5px solid #d1a76a;
}
.book{
    width: 15px;
    height: 50px;
    float: right; 
    margin-right: 2px;   
}
.book1{
    background-color: #d1ba79;
}
.book2{
    background-color: #3091cc;
}
.book3{
    background-color: #1da548;
}
.book4{
    background-color: #e50cb5;
}
.book5{
    background-color: #574f4f;
    transform: rotate(5deg);
    margin-right: 2px;
}
.calendar{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 80px;
    left: 0px;
    border-radius: 5px;
    background: -webkit-linear-gradient(top, #c51c1c 0px, #c51c1c 15px, #FFF 15px, #FFF 50px );
    background: -moz-linear-gradient(top, #c51c1c 0px, #c51c1c 15px, #FFF 15px, #FFF 50px );
    background: linear-gradient(top, #c51c1c 0px, #c51c1c 15px, #FFF 15px, #FFF 50px );
}
.calendar:before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: absolute;
    top: 5px;
    left: 11px;
    box-shadow: 19px 0px 0px #f5f5f5;
}
.calendar:after{
    content: "27";
    position: absolute;
    top: 15px;
    left: 13px;
    font-size: 1.2em;
    color: #000;
}
.mug{
    width: 25px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 27px;
    background-color: #000;
}
.mug:after{
    content: "";
    width: 10px;
    height: 10px;
    border: 5px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: -10px;
}
.mug:before{
    content: "";
    width: 5px;
    height: 0px;
    background-color: #e0e0e0;
    position: absolute;
    z-index: 1;
    bottom: 37px;
    left: 7px;
    box-shadow: 10px -3px 0px #e0e0e0;
}
/* ambient-true */
@-webkit-keyframes lampEffect{
    0%{
        background-color: #504f4f;
    }
    50%{
        background-color: #fed980;
    }
    100%{
        background-color: #504f4f;
    }
}
@-moz-keyframes lampEffect{
    0%{
        background-color: #504f4f;
    }
    50%{
        background-color: #fed980;
    }
    100%{
        background-color: #504f4f;
    }
}
@keyframes lampEffect{
    0%{
        background-color: #504f4f;
    }
    50%{
        background-color: #fed980;
    }
    100%{
        background-color: #504f4f;
    }
}
@-webkit-keyframes samaraEffect{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-58px);
    }
    70%{
        transform: translateY(-58px);
    }
    100%{
        transform: translateY(-118px);
    }
}
@-moz-keyframes samaraEffect{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-58px);
    }
    70%{
        transform: translateY(-58px);
    }
    100%{
        transform: translateY(-118px);
    }
}
@keyframes samaraEffect{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-58px);
    }
    70%{
        transform: translateY(-58px);
    }
    100%{
        transform: translateY(-118px);
    }
}
@-webkit-keyframes imacEffect{
    0%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 100%);
    }
    50%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 242424%);
    }
    100%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 100%);
    }
}
@-moz-keyframes imacEffect{
    0%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 100%);
    }
    50%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 242424%);
    }
    100%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 100%);
    }
}
@keyframes imacEffect{
    0%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 100%);
    }
    50%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 242424%);
    }
    100%{
        background: -webkit-linear-gradient(45deg, #000 0% , #CCC 100%);
    }
}
@-moz-keyframes mugEffect{
    0%{
        height: 0;
        opacity: 1;
    }
    80%{
        height: 16px;
        opacity: 0;
    }
    100%{
        height: 0px;
        opacity: 0;
    }
}
body.ambient-true,
body.ambient-true .cap{
    background-color: #000;
}
body.ambient-true .mug{
    background-color: #881d1d;
}
body.ambient-true .mug:after{
    border-color: #881d1d;
}
body.ambient-true .mug:before{
    opacity: 0;
    height: 0px;
    -moz-animation: mugEffect 5s linear infinite;
}
body.ambient-true h1{
    color: #881d1d;
    text-shadow: 0px 0px 60px #ff0000;
}
body.ambient-true p{
    color: #FFF;
}
body.ambient-true .lamp:after{
    -webkit-animation: lampEffect .25s linear infinite;
    -moz-animation: lampEffect .25s linear infinite;
    animation: lampEffect .25s linear infinite;
}
body.ambient-true .lamp2:after{
    -webkit-animation: lampEffect .25s .10s linear infinite;
    -moz-animation: lampEffect .25s .10s linear infinite;
    animation: lampEffect .25s .10s linear infinite;
}
body.ambient-true .imac{
    background: -webkit-linear-gradient(45deg, #000 0% , #CCC 100%);
    background: -moz-linear-gradient(45deg, #000 0% , #CCC 100%);
    -webkit-animation: imacEffect .25s linear infinite;
    -moz-animation: imacEffect .25s linear infinite;
    animation: imacEffect .25s linear infinite;
}
body.ambient-true .samara{
    -webkit-transform: translateY(-118px);
    -moz-transform: translateY(-118px);
    transform: translateY(-118px);
    -webkit-animation: samaraEffect 6s linear;
    -moz-animation: samaraEffect 6s linear;
    animation: samaraEffect 6s linear;
}

@media screen and (min-width: 425px){
    .container {
        height: 220px;
        top: calc(50% - 110px);
    }
    .imac{
        height: 110px;
    }
}
@media screen and (min-width: 768px){
    h1{
        margin-bottom: 20px;
        margin-top: 3%;
        font-size: 3.4em;   
    }
    p{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .container {
        width: 700px;
        height: 300px;
        margin: 0 auto;
    }
    .imac {
        height: 140px;
        width: 250px;
        left: calc(50% - 125px);
    }
    .imac-down,
    .samara{
        width: 250px;
        left: calc(50% - 125px);
    }
    .samara{
        bottom: -128px;
    }
    .face{
        width: 70px;
        height: 90px;
        left: calc(50% - 35px);
    }
    .face:before {
        width: 56px;
        height: 140px;
        top: -1px;
        left: -15px;
    }
    .face:after {
        width: 28px;
        height: 140px;
        top: -3px;
        right: -6px;
    }
    .eye {
        width: 30px;
        height: 13px;
        top: 42px;
        right: 11px;
    }
    .body{
        height: 130px;
        bottom: -110px;
    }
    .links li{
        margin-right: 10px;
    }
    .links li:last-child{
        margin-right: 0;
    }
    .calendar{
        left: 80px;
    }
    .mug {
        width: 30px;
        height: 35px;
        right: 107px;
    }
    .mug:after{
        top: 8px;
    }
    /* ambient-true */
    @-webkit-keyframes samaraEffect{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-152px);
        }
        70%{
            transform: translateY(-152px);
        }
        100%{
            transform: translateY(-227px);
        }
    }
    @-moz-keyframes samaraEffect{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-152px);
        }
        70%{
            transform: translateY(-152px);
        }
        100%{
            transform: translateY(-227px);
        }
    }
    @keyframes samaraEffect{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(-152px);
        }
        70%{
            transform: translateY(-152px);
        }
        100%{
            transform: translateY(-227px);
        }
    }
    body.ambient-true .samara{
        -webkit-transform: translateY(-227px);
        -moz-transform: translateY(-227px);
        transform: translateY(-227px);
        -webkit-animation: samaraEffect 6s linear;
        -moz-animation: samaraEffect 6s linear;
        animation: samaraEffect 6s linear;
    }    
}